<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoyw.mybatis.generator.mapper.GoodMapper">
  <resultMap id="BaseResultMap" type="com.guoyw.mybatis.generator.model.Good">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="created_at" jdbcType="BIGINT" property="createdAt" />
    <result column="updated_at" jdbcType="BIGINT" property="updatedAt" />
    <result column="entry_price" jdbcType="REAL" property="entryPrice" />
    <result column="good_category" jdbcType="VARCHAR" property="goodCategory" />
    <result column="good_name" jdbcType="VARCHAR" property="goodName" />
    <result column="good_num" jdbcType="BIGINT" property="goodNum" />
    <result column="good_unit" jdbcType="VARCHAR" property="goodUnit" />
    <result column="sale_price" jdbcType="REAL" property="salePrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, created_at, updated_at, entry_price, good_category, good_name, good_num, good_unit, 
    sale_price
  </sql>
  <select id="selectByExample" parameterType="com.guoyw.mybatis.generator.model.GoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from good
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from good
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.guoyw.mybatis.generator.model.GoodExample">
    delete from good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guoyw.mybatis.generator.model.Good">
    insert into good (id, created_at, updated_at, 
      entry_price, good_category, good_name, 
      good_num, good_unit, sale_price
      )
    values (#{id,jdbcType=VARCHAR}, #{createdAt,jdbcType=BIGINT}, #{updatedAt,jdbcType=BIGINT}, 
      #{entryPrice,jdbcType=REAL}, #{goodCategory,jdbcType=VARCHAR}, #{goodName,jdbcType=VARCHAR}, 
      #{goodNum,jdbcType=BIGINT}, #{goodUnit,jdbcType=VARCHAR}, #{salePrice,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guoyw.mybatis.generator.model.Good">
    insert into good
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="entryPrice != null">
        entry_price,
      </if>
      <if test="goodCategory != null">
        good_category,
      </if>
      <if test="goodName != null">
        good_name,
      </if>
      <if test="goodNum != null">
        good_num,
      </if>
      <if test="goodUnit != null">
        good_unit,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="entryPrice != null">
        #{entryPrice,jdbcType=REAL},
      </if>
      <if test="goodCategory != null">
        #{goodCategory,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null">
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodNum != null">
        #{goodNum,jdbcType=BIGINT},
      </if>
      <if test="goodUnit != null">
        #{goodUnit,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guoyw.mybatis.generator.model.GoodExample" resultType="java.lang.Long">
    select count(*) from good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update good
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=BIGINT},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=BIGINT},
      </if>
      <if test="record.entryPrice != null">
        entry_price = #{record.entryPrice,jdbcType=REAL},
      </if>
      <if test="record.goodCategory != null">
        good_category = #{record.goodCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.goodName != null">
        good_name = #{record.goodName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodNum != null">
        good_num = #{record.goodNum,jdbcType=BIGINT},
      </if>
      <if test="record.goodUnit != null">
        good_unit = #{record.goodUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.salePrice != null">
        sale_price = #{record.salePrice,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update good
    set id = #{record.id,jdbcType=VARCHAR},
      created_at = #{record.createdAt,jdbcType=BIGINT},
      updated_at = #{record.updatedAt,jdbcType=BIGINT},
      entry_price = #{record.entryPrice,jdbcType=REAL},
      good_category = #{record.goodCategory,jdbcType=VARCHAR},
      good_name = #{record.goodName,jdbcType=VARCHAR},
      good_num = #{record.goodNum,jdbcType=BIGINT},
      good_unit = #{record.goodUnit,jdbcType=VARCHAR},
      sale_price = #{record.salePrice,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guoyw.mybatis.generator.model.Good">
    update good
    <set>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="entryPrice != null">
        entry_price = #{entryPrice,jdbcType=REAL},
      </if>
      <if test="goodCategory != null">
        good_category = #{goodCategory,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null">
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodNum != null">
        good_num = #{goodNum,jdbcType=BIGINT},
      </if>
      <if test="goodUnit != null">
        good_unit = #{goodUnit,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guoyw.mybatis.generator.model.Good">
    update good
    set created_at = #{createdAt,jdbcType=BIGINT},
      updated_at = #{updatedAt,jdbcType=BIGINT},
      entry_price = #{entryPrice,jdbcType=REAL},
      good_category = #{goodCategory,jdbcType=VARCHAR},
      good_name = #{goodName,jdbcType=VARCHAR},
      good_num = #{goodNum,jdbcType=BIGINT},
      good_unit = #{goodUnit,jdbcType=VARCHAR},
      sale_price = #{salePrice,jdbcType=REAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>